<div class="holder-common">
  <app-gpx-nav></app-gpx-nav>
  <div class="subholder-common">
    <app-gpx-form></app-gpx-form>
    <app-gpx-table></app-gpx-table>
  </div>
</div>
<app-gpx-map></app-gpx-map>
<div class="logo-holder">
  <a href="http://eventico-sports.com" target="_blank"></a>
</div>
