.holder-common {
    position: fixed;
    left: 10px;
    z-index: 1000;
    display: flex;
    flex-flow: column;
    .subholder-common {
        display: flex;
        app-gpx-table {
            margin-left: 10px;
        }
    }
}
.logo-holder {
    a {
        background: url('../assets/logo.png') 0 0 repeat;
        display: block;
        width: 120px;
        height: 70px;
        margin: 0 auto;
        background-size: cover;
        position: fixed;
        z-index: 1000;
        bottom: 10px;
        right: 10px;
    }
}