.gpx-table-common {
  border: 2px solid rgba(0, 0, 0, 0.2);

  table {
    width: 100%;
    tr {
      height: 36px;
    }
    td,
    th {
      border: 1px solid rgba(0,0,0,0.2);
      padding: 5px;
      font-size: 10px;

    }
  }
}