<div class="gpx-table-common">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="index-column"> # </th>
      <td mat-cell *matCellDef="let row" class="index-column"> {{row.id}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="road">
      <th mat-header-cell *matHeaderCellDef> Road </th>
      <td mat-cell *matCellDef="let row"> {{row.road}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="town">
      <th mat-header-cell *matHeaderCellDef> Town </th>
      <td mat-cell *matCellDef="let row"> {{row.town}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let row"> {{row.state}} </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef> Country </th>
      <td mat-cell *matCellDef="let row"> {{row.country}} </td>
    </ng-container>

    <ng-container matColumnDef="postcode">
      <th mat-header-cell *matHeaderCellDef> Postcode </th>
      <td mat-cell *matCellDef="let row"> {{row.postcode}} </td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Distance (m) </th>
      <td mat-cell *matCellDef="let row"> {{row.distance}} </td>
    </ng-container>

    <ng-container matColumnDef="startTimeMin">
      <th mat-header-cell *matHeaderCellDef>Time from race start(min)</th>
      <td mat-cell *matCellDef="let row"> {{row.startTimeMin}} </td>
    </ng-container>

    <ng-container matColumnDef="startTimeMax">
      <th mat-header-cell *matHeaderCellDef>Time from race start(max)</th>
      <td mat-cell *matCellDef="let row"> {{row.startTimeMax}} </td>
    </ng-container>

    <ng-container matColumnDef="startRaceMin">
      <th mat-header-cell *matHeaderCellDef>Time from start time(min)</th>
      <td mat-cell *matCellDef="let row"> {{row.raceTimeMin}} </td>
    </ng-container>

    <ng-container matColumnDef="startRaceMax">
      <th mat-header-cell *matHeaderCellDef>Time from start time(max)</th>
      <td mat-cell *matCellDef="let row"> {{row.raceTimeMax}} </td>
    </ng-container>

    <ng-container matColumnDef="lat">
      <th mat-header-cell *matHeaderCellDef> Lat </th>
      <td mat-cell *matCellDef="let row"> {{row.lat}} </td>
    </ng-container>

    <ng-container matColumnDef="lng">
      <th mat-header-cell *matHeaderCellDef> Lng </th>
      <td mat-cell *matCellDef="let row"> {{row.lng}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row">
          <mat-icon svgIcon="remove" (click)="removePoint(row)" color="warn"></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[1, 5, 10]"></mat-paginator>
</div>