.gpx-form {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 10px;
  font-size: 12px;
  width: 150px;
  form {
      .form-row-common {
          .mat-form-field {
              width: 100%;
          }
      }
  }
}