<div class="gpx-form">
  <form [formGroup]="gpxForm">
    <div class="form-row-common">
      <mat-form-field appearance="fill">
        <span matPrefix>Time: &nbsp;</span>
        <input matInput type="time" formControlName="time">
      </mat-form-field>
    </div>
    <div class="form-row-common">
      <mat-form-field appearance="fill">
        <span matPrefix>Min speed: &nbsp;</span>
        <input matInput type="number" formControlName="minSpeed">
      </mat-form-field>
    </div>
    <div class="form-row-common">
      <mat-form-field appearance="fill">
        <span matPrefix>Max speed: &nbsp;</span>
        <input matInput type="number" formControlName="maxSpeed">
      </mat-form-field>
    </div>
  </form>
</div>