/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.km-marker-common img {
    width: 35px;
    height: 35px;
  }
  
  .km-marker-number {
    position: absolute;
    top: 10px;
    left: 12px;
    font-size: 12px;
    font-weight: 800;
    color: #ffffff;
    line-height: 1.2;
    text-align: center;
  }

  .index-marker-number {
    position: absolute;
      top: 10px;
      left: 15px;
      font-size: 12px;
      font-weight: 800;
      color: white;
      line-height: 1.2;
      text-align: center;
  }
  .leaflet-top {
    display: none !important;
  }
  .tooltip-common {
    font-size: 12px !important;
    font-weight: 500;
    background: #607d8b !important;
    color: #ffffff !important;
    border: none !important;
  }