.button-holder {
    display: flex;
    width: 100%;
    padding: 5px 0 20px 0;
    justify-content: space-between;
    .mat-stroked-button {
        .mat-icon {
            color: rgba(0,0,0,0.6);
        }
        &.active {
            border: 2px solid rgba(136, 188, 79,1);
            .mat-icon {
                color: #88bc4f; 
            }
        }
        &.warning {
            border: 2px solid rgba(232, 13, 39, 1);
            .mat-icon {
                color: rgba(232, 13, 39, 1); 
            }
        }
        color: rgba(0,0,0,0.6);
        font-weight: 600;
        background-color: #ffffff;
        border: 2px solid rgba(0,0,0,0.2)
    }
}
.button-subholder {
    display: flex;
    width: 100%;
    padding: 5px 0 20px 0;
    justify-content: flex-end;
}