<div class="button-holder" >
    <button mat-stroked-button (click)="buttonClick('zoomin')" matTooltip="Zoom in" matTooltipClass="tooltip-common">
        <mat-icon svgIcon="zoomin"></mat-icon>
    </button>
    <button mat-stroked-button (click)="buttonClick('zoomout')" matTooltip="Zoom out" matTooltipClass="tooltip-common">
        <mat-icon svgIcon="zoomout"></mat-icon>
    </button>
    <button mat-stroked-button matTooltip="Upload file" (click)="uploadFile($event)" matTooltipClass="tooltip-common">
      <mat-icon svgIcon="upload"></mat-icon>
    </button>
    <button mat-stroked-button 
        [ngClass]="{'warning': !recalculationState}"
        (click)="buttonClick('recalc')"
        [disabled]="recalculationState"
        matTooltipClass="tooltip-common" 
        matTooltip="Recalculate table data">
        <mat-icon svgIcon="calc" ></mat-icon>
    </button>
    <button mat-stroked-button
        (click)="buttonClick('nearest')" 
        [ngClass]="{'active': actions.indexOf('nearest') !== -1}" 
        matTooltip="Enable/disable nearest points finding mode" matTooltipClass="tooltip-common">
        <mat-icon svgIcon="near"></mat-icon>      
    </button>
    <button mat-stroked-button
        (click)="buttonClick('kmmarkers')" 
        [ngClass]="{'active': actions.indexOf('kmmarkers') !== -1}" 
        matTooltip="Enable/disable km markers" matTooltipClass="tooltip-common">
        <mat-icon svgIcon="kmarkers" ></mat-icon>
    </button>
    <button mat-stroked-button
        (click)="buttonClick('polymarkers')" 
        [ngClass]="{'active': actions.indexOf('polymarkers') !== -1}" 
        matTooltip="Show/hide polyline markers" matTooltipClass="tooltip-common">
        <mat-icon svgIcon="polymarkers"></mat-icon>
    </button>
    <button mat-stroked-button
        (click)="buttonClick('editpoly')"
        [ngClass]="{'active': actions.indexOf('editpoly') !== -1}" 
        matTooltip="Edit polyline" 
        matTooltipClass="tooltip-common">
        <mat-icon svgIcon="edit"></mat-icon>
    </button>
    <button mat-stroked-button
        (click)="buttonClick('tablerows')"
        [ngClass]="{'active': actions.indexOf('tablerows') !== -1}"
        matTooltip="Show/hide table columns" 
        matTooltipClass="tooltip-common">
        <mat-icon svgIcon="table" ></mat-icon>
    </button>
    <button mat-stroked-button
        (click)="buttonClick('gpxexport')" 
        matTooltip="Download edited file" 
        matTooltipClass="tooltip-common">.gpx</button>
    <button mat-stroked-button
        (click)="buttonClick('csvexport')" 
        matTooltip="Download file with table data" 
        matTooltipClass="tooltip-common">.csv</button>
</div>

